# ignore datasets (large source files, not needed at runtime)
dataset/

# ignore generated data files (but NOT in search-engine-python/)
*.jsonl

# frontend stuff
frontend/node_modules/

# git
.git
.gitignore