# ignore datasets
dataset/

# ignore indexes
search-engine-python/faiss.index
search-engine-python/bm25.pkl
search-engine-python/docs.pkl
search-engine-python/indexer.py
search-engine-python/bm25_title.pkl
search-engine-python/bm25_abstract.pkl

# ignore generated data
*.jsonl
*.pkl
*.index

# frontend stuff
frontend/node_modules/

# git
.git
.gitignore